.main-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(117, 120, 122);
  width: 850px;
  gap: 5px;
  padding: 5px;
  border-radius: 3px;
}

.keyboard-text,
.keyboard-text-form {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgb(85, 87, 88);
}

.keyboard-text-form {
  margin: 10px 0;
  width: 850px;
  height: 250px;
}

.keyboard-text {
  margin: 5px 0;
}

.key {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(117, 120, 122);
  border-radius: 2px;
  padding: 8px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-top: 3px solid rgb(166, 170, 173);
  border-left: 3px solid rgb(166, 170, 173);
  border-bottom: 3px solid rgb(74, 75, 77);
  border-right: 3px solid rgb(74, 75, 77);
  cursor: pointer;
}

.key:hover {
  background-color: rgb(65, 61, 61);
  border: 3px solid rgb(65, 61, 61);
}

.key:active {
  background-color: rgb(65, 61, 61);
  border-bottom: 3px solid rgb(166, 170, 173);
  border-right: 3px solid rgb(166, 170, 173);
  border-top: 3px solid rgb(74, 75, 77);
  border-left: 3px solid rgb(74, 75, 77);
}

.key-aux.key-active,
.key-basic.key-active,
.key-space.key-active {
  background-color: rgb(65, 61, 61);
  border-bottom: 3px solid rgb(166, 170, 173);
  border-right: 3px solid rgb(166, 170, 173);
  border-top: 3px solid rgb(74, 75, 77);
  border-left: 3px solid rgb(74, 75, 77);
}

.key-aux {
  background-color: rgb(94, 90, 90);
  border-top: 3px solid rgb(134, 130, 130);
  border-left: 3px solid rgb(134, 130, 130);
  border-bottom: 3px solid rgb(65, 61, 61);
  border-right: 3px solid rgb(65, 61, 61);
}

.key-space {
  width: 290px;
}

.key-aux[data='ControlLeft'],
.key-aux[data='ControlRight'] {
  width: 70px;
}

.key-aux[data='ShiftLeft'] {
  width: 120px;
}

.key-aux[data='ShiftRight'] {
  width: 133px;
}

.key-aux[data='Tab'],
.key-aux[data='Del'] {
  width: 105px;
}

.key-aux[data='ArrowUp'],
.key-aux[data='ArrowDown'],
.key-aux[data='ArrowLeft'],
.key-aux[data='ArrowRight'] {
  width: 55px;
}

.key-aux[data='Backspace'] {
  width: 165px;
}

.key-aux[data='CapsLock'] {
  width: 130px;
}

.key-aux[data='Enter'] {
  width: 82px;
}

.key-basic {
  width: 46px;
}
